
<h1> JQuery! </h1>

<%= form_for (@user) do |f|%>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">First Name</span>
  <%= f.text_field :first_name %>
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Email</span>
  <%= f.email_field :email %>
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Password</span>
  <%= f.password_field :password_digest %>
</div>
