<h1>this is your profile </h1>

<%= link_to "New Post", new_post_path, class: "btn btn-info" %>


<div class="row" id="post_show">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>
          name
        </h1>
        <p>
          description
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col md-6">
            <div class="btn-group pull-right">
              <% if current_user %>
                <%= link_to "Edit", edit_post_path, class: "btn btn-info" %>
                <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>