
<div class="text-center">
  <h1>yo SHit SUCKS epic closing of every store</h1>
  <br>
  <div class="container">
    <div class="list-group">
        <% @posts.each do |post| %>
          <%= link_to post.name, post_path(post), :class => "list-group-item" %>

<h1>yo SHit SUCKS epic closing of every store</h1>
<br>

  <div class="container">
    <div class="list-group">
        <% @posts.each do |post|%>
           <%= link_to post.name, "/users/#{post.user_id}/posts/#{post.id}", :class => "list-group-item" %><br>
        <%end%>
    </div>
  </div>
</div>
